*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*
    Cualquier modificacion de los bordes; 
    los pxs se añaden al ancho y alto de los elementos.*/
}
.main{
    background-color:#b5bfda ;
}
.main-lateral{
    position:fixed;
    width: 10%;
    height: 100%;
    right: 0px;
    background-color:  #1e3470;
    padding: 0px;
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
}
.main-lateral > div{
    display: block;
}
.main-lateral__container{
    position:absolute;
    width: 100%;
}
.main-formResgistro-container__Logo{
    width: 125px;
    height: 125px;
    position:absolute;
    left: 10px;
}
.main-lateral__navegation {
    position:absolute;
    top: 125px;
    padding: 15px;
    width: 90%;
}
.main-lateral-navegtion__incos {
    list-style:none;
}
.main-lateral-navegation-incos__bloq{
    padding-left: 35px;
    padding-bottom: 40px;
}
.main-lateral-navegation-incos__bloq > p {
    text-decoration: none;
}
.main-lateral-nevagation-incos__p{
    list-style: none;
    color: black;
}
.main-lateral-navegation__option{
    width: 75%;
}
/**Configuración de estilos de la sección de archivos **/
.main__filecontent {
	position:absolute;
	display:block;
	left:0%;
	width:90%;
	height:100%;
	background: white;
}
.listFile {
	position:absolute;
    	/**background-color:  #1e3470;**/
    	background-color:  hsl(177, 50%, 46%);
	width:100%;
	height:30%;
}
.viewfile {
	position:absolute;
	background: green;
	width:100%;
	height:70%;
	top: 30%;
}
/**Configuración de estilos: busqueda de archivos **/
.listFile > li {
	list-style: none;
	display: inline-block;
}
.listFile__carga {
	position: absolute;
	background: white;
	width: 60%;
	height: 100%; 
	display: inline-block;
}
.listFile__User {
	position: absolute;
	width: 40%;
	height: 100%;
	left: 60%;
	display: inline-block;
}
/**Configuración de estilo: Sección de descarga de archivos y items **/
.listItem > li {
	list-style: none;
	display: inline-block;
}
.listItem__Download {
	position: absolute;
	background: white;
	width: 80%;
	height: 100%; 
	display: inline-block;
}
.listItem__items {
	position: absolute;
	width: 20%;
	height: 100%;
	left: 80%;
	display: inline-block;
}
/**Configuración Usericon**/
.UserIcon {
	position: relative;
	width: 40%;
	height: 60%;
	margin-left: 60%;
	margin-top: 5%;
}
.arch {	
	position: relative;
	margin-left: 28%;
	margin-top: -12%;
	font-family: calibri;
	color: white;
}
/**Configuración de estilo: sección de busqueda de archivos**/
.listFile__carga >input {
	position: relative;
	width: 50%;
	height: 15%;
	margin-left:25%;
	margin-top:8%;
}
.listFile-carga__button{
	margin-left: 39%;
	margin-top: 2%;
}
.listFile-carga__button > button {
	padding: 2%;
	background: blue;
	/**Observaciones:
	 * Recordar colocar los estilos de vesiones pasadas:las mismas que la página web cuentas 
	 * para los botones **/
}
/**Configuración del icono de busqueda**/
.busqq {
	position:absolute;
	width: 10%;
	height:15%;
	margin-left: -7.5%;
	top: 31%;
}
/**Configuración de estilo: opciones **/
.__option {
	position:relative;
	height:5%;
}
.__option > li {
	display: inline-block;
	list-style: none;
	position: relative;
	width: 30.3%;
}
.__listFiles {
	position:relative;
	display:inline-block;
	width:100%;
	background:white;
}
.__listFiles > li{	
	display: inline-block;
	list-style: none;
	position:relative;
	width:30.3%;
}
.__allfile{
	position:relative;
	background: red;
	height:94.9%;
}
