* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*
    Cualquier modificacion de los bordes; 
    los pxs se añaden al ancho y alto de los elementos.*/
}
.main{
    background-color:#b5bfda ;
}
/**Estilo de la sección principal de cuenta **/
.main__section {
    position:absolute;
    display:block;
    width:70%;
    height:100%;
    margin-left:10%;
    padding:5px; 
}
.main-section > div {
	display: inline-block;
}
.main-section__config {
    position:relative; 
    background: -webkit-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
    background: -o-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
    background: -moz-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
    background: linear-gradient(rgb(36, 53, 110), #b3a68b)!important;
    width:30%;
    height:100%;
    padding: 10px;
    border-radius: 1%;
    text-align: center;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.main-section__mail {
    position:absolute;    
    top:0%;
    right: 0%;
    width:70%;
    height:100%;
    padding: 10px;
}
.main-section-config__content {
    position:relative;
    background: -webkit-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
    background: -o-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
    background: -moz-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
    background: linear-gradient(rgb(36, 53, 110), #b3a68b)!important;
    width:100%;
    height: 60%;
    list-style: none;
    padding: 10px;
    border-radius: 1%;
    top:-5px;
}
.main-section-config-content__foto {
	position:relative;
        display:inline-block;
	width: 40%;
	height:100%;
    	padding: 10px;
}
.main-section-config-content__config {
	position:absolute;
        display:inline-block;
	width: 60%;
	height:100%;
	right: 0%;
        padding: 10px;
	text-align: center;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.main-section-mail__services {
	position:relative;
	padding:10px;
	height:40%;
	top: 5px;
	border-radius: 1%;
	text-align: center;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        background: -webkit-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
        background: -o-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
        background: -moz-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
        background: linear-gradient(rgb(36, 53, 110), #b3a68b)!important;
}
.main-section-config-content-foto__eldiv > img{
	position:relative;
	display:block;
	width: 40%;
	height: 40%;
	margin-left:auto;
	margin-right:auto;
}
button {
	/* utilizamos estas propiedades para centrar el botón */
    	display: inline-block;
    	position: relative;
    	top: 10%;
    	left: 50%;
    	-webkit-transform: translateX(-50%) translateY(-50%);
    	-ms-transform: translateX(-50%) translateY(-50%);
    	transform: translateX(-50%) translateY(-50%);	
	/**Configuracion del boton fantasma***/
        font-family: Tahoma, Verdana, Segoe, sans-serif;
    	/**font-size: 3em;*/
    	letter-spacing: 0.1em;
    	color: #1e3470;
    	text-decoration: none;
    	text-transform: uppercase;
    	/* agregamos un borde y lo separamos del texto */
    	border: 0.15em solid #fff;
    	padding: 0.4em 0.6em;
    	/* animamos el cambio de colores */
    	-webkit-transition: color 300ms, background 500ms, border-color 700ms;
    	transition: color 300ms, background 500ms, border-color 700ms;
}
button:hover {
    background: #819C68;
    border-color: black;
    color: black;
}
/*Configuracion de estilo del formulario/usuario */
.form-config-user {
	position:relavative;
	display: inline-block;
	/*background: red;*/
	height: 40%;
	width:90%;
	padding: 3%;
}
label {
	color: orange;
}
input {
	position:relative;
	display: inline-block;
	height: 25px;
	margin-top: 2%;
	margin-bottom: 2%;
}
/*Configuracion de la bandeja de entrada*/
.main-section__input {
	position: relative;
	width: 100%;
	height: 23%;
	padding: 5px;
	margin-bottom: 10%;
}
.main-section__input:hover {
	background: white;
}
.main-section__input > a {
	color: orange;
}
.search-historial {
	position:relative;
	height: 35px;
	border-radius-left: 50%;
	margin-bottom: 45px;
	margin-top: 15px;
}
.search {
	position: absolute;
	height: 35px;
	padding: 5px;
	top: 8.5%;
	left:70%;
}
.description {
	font-family: cursive;
	text-align: left;
}
/*EStilos - sección: Otro servicios **/
.main-section-mail-services__external {
	position:relative;
	width: 100%;
	padding: 10px;
	height: 80%;
	margin-top: 2%;
}
.main-section-mail-services__external > li {
	display: inline-block;
	position:relative;
	width: 20%;
	height: 100%;	
	padding: 3%;
}
.main-section-mail-services__external > li:hover {
	background: white;
}
.GoogleDrive {
	position:relative;
	width: 75%;
	height: 50%;
}
/** **/
/***/
.main-config-user__divs {
	position:relative;
	margin-bottom: 15px;
	display:inline-block;
}
.main-section-config-content-foto__option {
	position:absolute;
	display:inline-block;	
	width: 100%;
	height:10%;
	top: 50%;
}
.main-lateral{
    position:fixed;
    width: 10%;
    height: 100%;
    right: 0px;
    background-color:  #1e3470;
    padding: 0px;
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
}
.main-lateral > div{
    display: block;
}
.main-lateral__container{
    position:absolute;
    width: 100%;
}
.main-formResgistro-container__Logo{
    width: 125px;
    height: 125px;
    position:absolute;
    left: 10px;
}
.main-lateral__navegation {
    position:absolute;
    top: 125px;
    padding: 15px;
    width: 90%;
}
.main-lateral-navegtion__incos {
    list-style:none;
}
.main-lateral-navegation-incos__bloq{
    padding-left: 35px;
    padding-bottom: 40px;
}
.main-lateral-navegation-incos__bloq > p {
    text-decoration: none;
}
.main-lateral-nevagation-incos__p{
    list-style: none;
    color: black;
}
.main-lateral-navegation__option{
    width: 75%;
}
