*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*
    Cualquier modificacion de los bordes; 
    los pxs se añaden al ancho y alto de los elementos.*/
}
.main{
    background-color:#4b5b86 ;
}
.main-lateral{
    position:fixed;
    width: 10%;
    height: 100%;
    right: 0px;
    background-color:  #1e3470;
    padding: 0px;
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
}
.main-lateral > div{
    display: block;
}
.main-lateral__container{
    position:absolute;
    width: 100%;
}
.main-formResgistro-container__Logo{
    width: 125px;
    height: 125px;
    position:absolute;
    left: 10px;
}
.main-lateral__navegation {
    position:absolute;
    top: 125px;
    padding: 15px;
    width: 90%;
}
.main-lateral-navegtion__incos {
    list-style:none;
}
.main-lateral-navegation-incos__bloq{
    padding-left: 20px;
    padding-bottom: 30px;
}
.main-lateral-navegation-description{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration:none;
}