*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*
    Cualquier modificacion de los bordes; 
    los pxs se añaden al ancho y alto de los elementos.*/
}
.main{
    background-color:#b5bfda ;
}
.main-lateral{
    position:fixed;
    width: 10%;
    height: 100%;
    right: 0px;
    background-color:  #1e3470;
    padding: 0px;
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
}
.main-lateral > div{
    display: block;
}
.main-lateral__container{
    position:absolute;
    width: 100%;
}
.main-formResgistro-container__Logo{
    width: 125px;
    height: 125px;
    position:absolute;
    left: 10px;
}
.main-lateral__navegation {
    position:absolute;
    top: 125px;
    padding: 15px;
    width: 90%;
}
.main-lateral-navegtion__incos {
    list-style:none;
}
.main-lateral-navegation-incos__bloq{
    padding-left: 35px;
    padding-bottom: 40px;
}
.main-lateral-navegation-incos__bloq > p {
    text-decoration: none;
}
.main-lateral-nevagation-incos__p{
    list-style: none;
    color: black;
}
.main-lateral-navegation__option{
    width: 75%;
}
.main__Info {
	position:absolute;
	display:block;
	left:0%;
	width:90%;
	height:100%;
    	background: -webkit-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
    	background: -o-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
    	background: -moz-linear-gradient(rgb(36, 53, 110), #b3a68b)!important; 
    	background: linear-gradient(rgb(36, 53, 110), #b3a68b)!important;
}
.main__Info > div {
	display:inline-block;
}
.__Question {
	position:relative;
	width:70%;
	height:100%;
	/**background:white;**/
	padding:3%;
}
.__Enunciado{
	color:orange;
}
.__Progress {
	position:absolute;
	width:30%;
	height:100%;
	padding:3%;
}
.__FirsQuestion {
	position:relative;
	width:80%;
	height:40%;
	margin-top:2%;
	/**background:white;**/
	padding:5%;
    	box-shadow:0px 0px 4px 2px #000000;
    	-moz-box-shadow:0px 0px 4px 2px #000000;
    	-webkit-box-shadow:0px 0px 4px 2px #000000;
}
.__FirsQuestion > p {
	position:relative;
	margin-bottom: 3%;
	color:orange;
}
input , label {
	position:relative;
	margin-left: 3%;
}
button {
	position:relative;
	margin-top:2%;
	margin-left:35%;
	padding:1%;
}
.__Seguimiento {
	position:relative;
	width:100%;
	height:90%;
	/**background:white;**/
    	box-shadow:0px 0px 4px 2px #000000;
    	-moz-box-shadow:0px 0px 4px 2px #000000;
    	-webkit-box-shadow:0px 0px 4px 2px #000000;
}
.__Seguimiento > li {
	list-style:none;
}
.__NAME-TEST {
	position:relative;
	width:100%;
	height:15%;
	/**background:blue;**/
	padding: 10px;	
}
.__NAME-TEST > h3{
	position:relative;
	margin-left:18%;
	color:white;
}
.__NAME-TEST > h4 {
	position:relative;
	margin-left:39%;
	color:white
}
.__NAME-TEST > h5 {
	position:relative;
	color:orange;
	margin-left:47%;
}
.__LIST-QUESTION {
	position:relative;
	width:100%;
	height:60%;
	/**background:orange;**/
}
.__CLOCK {
	position:relative;
	width:100%;
	height:5%;
}
.__CLOCK > p {
	text-align:center;
}
.__LIST-QUESTION > ul {
	position:relative;
	width:100%;
	height:100%;
}
.Pre {
	position:relative;
	width:100%;
	height:7.2%;
	list-style:none;
}
.Pre > p[class="N"] {
	float:right;
	color:#00FA9B;
	font-size:15px;
	margin-right:5px;
}
.ESP {
	color:orange;
	float:right;
	margin-right: 5px;
}
