*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*
    Cualquier modificacion de los bordes; 
    los pxs se añaden al ancho y alto de los elementos.*/
}
.main{
    background-color:#b5bfda ;
}
.main-lateral{
    position:fixed;
    width: 10%;
    height: 100%;
    right: 0px;
    background-color:  #1e3470;
    padding: 0px;
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
}
.main-lateral > div{
    display: block;
}
.main-lateral__container{
    position:absolute;
    width: 100%;
}
.main-formResgistro-container__Logo{
    width: 125px;
    height: 125px;
    position:absolute;
    left: 10px;
}
.main-lateral__navegation {
    position:absolute;
    top: 125px;
    padding: 15px;
    width: 90%;
}
.main-lateral-navegtion__incos {
    list-style:none;
}
.main-lateral-navegation-incos__bloq{
    padding-left: 35px;
    padding-bottom: 40px;
}
.main-lateral-navegation-incos__bloq > p {
    text-decoration: none;
}
.main-lateral-nevagation-incos__p{
    list-style: none;
    color: black;
}
.main-lateral-navegation__option{
    width: 75%;
}
.main__curse{
    position:fixed;
    height: 100%;
    width: 90%;
}
.main__curse > div {
    display:inline-block;
}
.main-curse__bloque1 {
    position:relative;
    /*Borrar mas tarde*/
    width: 70%;
    height: 100%;
    background: -webkit-linear-gradient(rgb(36, 53, 110), #ddd8ce)!important; 
    background: -o-linear-gradient(rgb(36, 53, 110), #ceccc8)!important; 
    background: -moz-linear-gradient(rgb(36, 53, 110), #cfcecb)!important; 
    background: linear-gradient(rgb(36, 53, 110), #c0bfbc)!important;
}
.main-curse__bloque2 {
    position:absolute;
     /*Borrar mas tarde*/
    background-color: #d1b16a;
    width: 30%;
    height: 100%;
    padding: 1%;
    background: -webkit-linear-gradient(rgb(36, 53, 110), #ddd8ce)!important; 
    background: -o-linear-gradient(rgb(36, 53, 110), #ceccc8)!important; 
    background: -moz-linear-gradient(rgb(36, 53, 110), #cfcecb)!important; 
    background: linear-gradient(rgb(36, 53, 110), #c0bfbc)!important;
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
}
.main-curse-bloque1__nav {
    position:relative;
    height: 10%;
    width: 100%;
    margin-bottom: 4px;
}
.main-curse-bloque1-nav__ul {
    display:inline-block;
    position:absolute;
    height: 100%;
    width: 100%;
}
.main-curse-bloque1-nav__ul > a {
    text-decoration: none;
    list-style: none;
    display:inline-block;
    padding: 2.8%;
    margin: 0px 0px 0px 0px;
    color:rgb(247, 190, 4)
}
.main-curse-bloque1-nav__ul > a:hover {
    background-color: #000000; 
}
.main-curse-blopue2__progressbar {
    position:relative;
    width: 100%;
    height: 60%;
    /**background-color: #ffffff;**/
    opacity:0.9;
}
.main-curse-blopue2__Tareas {
    position:relative;
    width: 100%;
    height: 40%;
    /**background-color: #664040;
    background-color: #ffffff;**/
    opacity:0.9;
}
.main-curse-blopue2-progressbar__svg {
    /**background-color: #b42e2e;**/
    display: inline-block;
    position:absolute;
    width: 55%;
    height: 100%;
    left:23%;
    padding-top:18%;
}
.main-curse-blopue2-progressbar__svg > circle {
    fill:none;
    stroke-width: 10;
    stroke:rgb(255, 174, 0);
    transform:translate(5px,5px);
}
h2 {
    display:flex;
    position:absolute;
    color:#1e3470;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items:center;
    margin-top:40%;
    width: 100%;
    height: 10%;
}
h3 , h5 {
    display:flex;
    position:relative;
    color:#000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 10%;
}
.main-curse-blopue2-Tareas__ver{
    position:relative;
    display:block;
    width: 100%;
    height: 90%;
    padding: 20px;
}
.main-curce-bloque2-Tareas-ver__li {
    width: 100%;
    height: 30%;
    list-style: none;
    position:relative;
    margin-bottom: 5px;
}
.main-curce-bloque2-Tareas-ver__li img {
    position:absolute;
    width: 25%;
    height: 80%;
}
h4 {
    display:flex;
    position:relative;
    color:#000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left:25%;
    width: 100%;
    height: 10%;
    top: 15px;
}
.main-curse__contenPM {
    position: relative;
    width: 100%;
    height: 50%;
    top:0%;
}
.main-curse__Plan {
    background: white;
    position: relative;
    width: 50%;
    height: 100%;
}
.main-curse__Material {
    background: blue;
    position: relative;
    width: 50%;
    height: 50%;
}