*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*
    Cualquier modificacion de los bordes; 
    los pxs se añaden al ancho y alto de los elementos.*/
}
.main{
    background-color:#b5bfda ;
}
/*Estilos de barra de busqueda:Simple search barr*/
section[class="main-simpleSearch__container"]{
    position:absolute;
    width:35%;
    height:6%;
    background-color: white;
    margin-left:9%;
    margin-top:2%;
    border-radius: 1%;
    box-shadow:0px 2px 4px 1px #000000;
    -moz-box-shadow:0px 2px 4px 1px #000000;
    -webkit-box-shadow:0px 2px 4px 1px #000000;
}
.main-simpleSearch-container__searchsvg {
    display:block;
    position:absolute;
    width: 30px;
    height: 30px;
    left: 28%;
    top: 13%;
}
.main-simpleSearch-container__bloqDos {
    display:block;
    position: absolute;
    top: 25%;
    left:8%;
    border:none;
    background: transparent
    height: 100%;
}
input[class="main-simpleSearch-container-bloqDos__text"]{
    
}
/*Seccion de tareas entregadas*/
.main__fileTareas{
    position:absolute;
    /*background-color:#1e3470;*/
    width: 30%;
    height: 50%;
    top: 15%;
    left: 9%;
    padding: 10px;
    /*
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
    */
}
.main-fileTareas__All {
    position:relative;
    width: 100%;
    height: 100%;
    /*background-color: aquamarine;*/
}
.main-fileTareas-All__listas {
    list-style:none;
    /*background-color: rgb(224, 217, 107);*/
    position:relative;
    width: 100%;
    height: 25%;
}
/*
.main-fileTareas-All__listas > div {
    
}
*/
.main-fileTareas-All-listas__conv {
    position:relative;
    display: inline-block;
    width: 20%;
    height: 100%;
    padding: 2px;
    background-color: #b5bfda;
}
.main-fileTareas-All-listas__conv:hover{
    background-color: #586896;
}
.main-fileTareas-All-listas__notf {
    position:absolute;
    display:inline-block;
    width: 57%;
    height: 100%;
    padding: 10px;
    /*background-color: #3152af;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
/*Estilos de los iconos: Check & File_pdf*/
.main-formResgistro-container__logoTareas {
    display:block;
    margin-left:auto;
    margin-right: auto;
    height: 70%;
    padding-top: 15px;
}
/*Seccion de dudas*/
.main__dudasTareas {
    position:absolute;
    background-color:#1e3470;
    top: 15%;
    right: 15%;
    width: 40%;
    height: 65%;
    padding: 10px;
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
}
.label{
    color:#ffc400;
}
.main-dudasTareas__campos {
    list-style:none;
    /*background-color: rgb(224, 217, 107);*/
    position:relative;
    width: 100%;
    height: 100%;
}
.main-dudasTareas-campos__CD {
    position:relative;
    /*background-color: brown;*/
    width: 100%;
    height: 20%;
}
.main-dudasTareas-campos__CT {
    position:relative;
    /*background-color: rgb(56, 212, 50);*/
    width: 100%;
    height: 60%;
}
.main-dudasTareas-campos__CS {
    position:relative;
    background-color: rgb(231, 229, 240);
    width: 100%;
    height: 10%;
    padding: 5px;
}
.main-dudasTareas-campos__EC {
    
}
.main-dudasTareas-campos-CD__area {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position:relative;
    display:block;
    width: 100%;
    height: 100%;
}
/*Estilo del input: carga de archivos*/
.main-dudasTareas-campos-CS__files {
    
}
.main-dudasTareas-campos-CD__hot , .main-dudasTareas-campos-CD__hut {
    position:relative;
}
.main-dudasTareas-campos-CD__hot {
    height: 40%;
}
.main-dudasTareas-campos-CD__hut {
    /*background-color: chartreuse;*/
    height: 60%;
    color:#ffc400;
    padding-top: 10px;;
}
/*Estilo del button para enviar dudas*/ 
.main-dudasTareas-campos-EC__button {
    position:relative;
    background-color: #b98627;
    height: 100%;
    width: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
}
/**/
.main-lateral{
    position:fixed;
    width: 10%;
    height: 100%;
    right: 0px;
    background-color:  #1e3470;
    padding: 0px;
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
}
.main-lateral > div{
    display: block;
}
.main-lateral__container{
    position:absolute;
    width: 100%;
}
.main-formResgistro-container__Logo{
    width: 125px;
    height: 125px;
    position:absolute;
    left: 10px;
}
.main-lateral__navegation {
    position:absolute;
    top: 125px;
    padding: 15px;
    width: 90%;
}
.main-lateral-navegtion__incos {
    list-style:none;
}
.main-lateral-navegation-incos__bloq{
    padding-left: 35px;
    padding-bottom: 40px;
}
.main-lateral-navegation-incos__bloq > p {
    text-decoration: none;
}
.main-lateral-nevagation-incos__p{
    list-style: none;
    color: black;
}
.main-lateral-navegation__option{
    width: 75%;
}