*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*
    Cualquier modificacion de los bordes; 
    los pxs se añaden al ancho y alto de los elementos.*/
}
.main{
    background-color:#b5bfda ;
}
/*Estilos de barra de busqueda:Simple search barr*/
section[class="main-simpleSearch__container"]{
    position:absolute;
    width:30%;
    height:6%;
    /*background-color: aqua;*/
    margin-left:9%;
    margin-top:2%;
}
.main-simpleSearch-container__bloqUno {
    display:inline-block;
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: #1e3470;
}
.main-simpleSearch-container__searchsvg {
    display:block;
    position:absolute;
    width: 30px;
    height: 30px;
    left: 28%;
    top: 13%;
}
.main-simpleSearch-container__bloqDos {
    display:inline-block;
    position: absolute;
    width: 85%;
    height: 100%;
    left: 15%;
}
input[class="main-simpleSearch-container-bloqDos__text"]{
    display:block;
    position:absolute;
    height: 100%;
    border: 2px 2px 2px 2px solid #1e3470;
}
/*Seccion de tareas entregadas*/
.main__fileTareas{
    position:absolute;
    background-color:#1e3470;
    width: 30%;
    height: 50%;
    top: 15%;
    left: 9%;
    padding: 10px;
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
}
.main-fileTareas__All {
    position:relative;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}
.main-fileTareas-All__listas {
    list-style:none;
    background-color: rgb(224, 217, 107);
    position:relative;
    width: 100%;
    height: 25%;
}

/*Seccion de dudas*/
.main__dudasTareas {
    position:absolute;
    background-color:#1e3470;
    top: 15%;
    right: 15%;
    width: 40%;
    height: 50%;
    padding: 10px;
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
}
.main-dudasTareas__campos {
    list-style:none;
    background-color: rgb(224, 217, 107);
    position: relative;
    width: 100%;
    height: 100%;
}
.main-dudasTareas-campos__CD {
    position:relative;
    background-color: brown;
    width: 100%;
    height: 20%;
}
.main-dudasTareas-campos__CT {
    position:relative;
    background-color: rgb(56, 212, 50);
    width: 100%;
    height: 60%;
}
.main-dudasTareas-campos__CS {
    position:relative;
    background-color: rgb(97, 68, 230);
    width: 100%;
    height: 10%;
}
/**/
.main-lateral{
    position:fixed;
    width: 10%;
    height: 100%;
    right: 0px;
    background-color:  #1e3470;
    padding: 0px;
    box-shadow:0px 0px 4px 2px #000000;
    -moz-box-shadow:0px 0px 4px 2px #000000;
    -webkit-box-shadow:0px 0px 4px 2px #000000;
}
.main-lateral > div{
    display: block;
}
.main-lateral__container{
    position:absolute;
    width: 100%;
}
.main-formResgistro-container__Logo{
    width: 125px;
    height: 125px;
    position:absolute;
    left: 10px;
}
.main-lateral__navegation {
    position:absolute;
    top: 125px;
    padding: 15px;
    width: 90%;
}
.main-lateral-navegtion__incos {
    list-style:none;
}
.main-lateral-navegation-incos__bloq{
    padding-left: 35px;
    padding-bottom: 40px;
}
.main-lateral-navegation-incos__bloq > p {
    text-decoration: none;
}
.main-lateral-nevagation-incos__p{
    list-style: none;
    color: black;
}
.main-lateral-navegation__option{
    width: 75%;
}